node_modules/

# venv
venv/
ml/venv/

# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# ML models
*.joblib

.env
.env.*
!.env.example



# Data
*.json
*.csv
*.parquet
*.zip
!ml/tirana_house_prices.json
!backend/package.json
!backend/package-lock.json
!backend/nest-cli.json
!backend/tsconfig.json
!backend/tsconfig.build.json
!frontend/package.json
!frontend/package-lock.json

# Backend build output
backend/dist/
